.ott-tag-input {
  --ott-primary-color: rgb(22, 119, 255);
  --ott-border-color: rgb(204, 204, 204);
  --ott-placeholder-color: rgb(173, 181, 189);
  --ott-text-color-secondary: rgb(136, 136, 136);

  --ott-primary-color-08: rgba(22, 119, 255, 0.8);
  --ott-primary-color-02: rgba(22, 119, 255, 0.2);
  --ott-primary-color-04: rgba(22, 119, 255, 0.4);
  --ott-primary-color-01: rgba(22, 119, 255, 0.1);
  position: relative;
  background-color: white;

  .ProseMirror {
    padding: 8px;
    border: 1px solid var(--ott-border-color);
    border-radius: 4px;

    &:focus {
      outline: none;
      border-color: var(--ott-primary-color-08);
      box-shadow: 0 0 0 2px var(--ott-primary-color-02);
    }

    p {
      margin: 0;
    }

    p.is-editor-empty:first-child::before {
      content: attr(data-placeholder);
      float: left;
      color: var(--ott-placeholder-color);
      pointer-events: none;
      height: 0;
    }
  }

  .tag-wrapper {
    display: inline-flex;
    padding: 0 2px;
    align-items: center;

    .tag {
      min-height: 20px;
      display: inline-flex;
      align-items: center;
      background-color: var(--ott-primary-color);
      border: none;
      border-radius: 3px;
      padding: 2px 8px;
      color: white;
      white-space: nowrap;
      transition: all 0.2s;
      font-size: 12px;
      box-sizing: border-box;
      line-height: 1;
      &:hover {
        cursor: pointer;
      }

      .close-button {
        margin-left: 2px;
        border: none;
        background: none;
        cursor: pointer;
        padding: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: white;
        border-radius: 50%;
        width: 14px;
        height: 14px;
        transition: all 0.2s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
          color: white;
        }
      }
    }
  }

  .ott-suggestion-list-wrapper {
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
  }

  .ott-suggestion-list {
    background: white;
    max-height: 200px;
    border: 1px solid var(--ott-primary-color-04);
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    padding: 3px;

    div {
      padding: 3px 8px;
      cursor: pointer;

      &.is-selected,
      &:hover {
        background-color: var(--ott-primary-color-01);
        color: var(--ott-primary-color);
      }

      &.is-empty {
        color: var(--ott-text-color-secondary);
        cursor: default;
      }

      &.is-disabled {
        color: var(--ott-text-color-secondary);
        cursor: not-allowed;

        &.is-selected,
        &:hover {
          background-color: transparent;
          color: var(--ott-text-color-secondary);
        }
      }
    }
  }
}
